.navbar {
    background-color: rgb(45, 167, 45);    
}

.quem-somos {
    background-color: rgb(69, 69, 143);
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: rgb(26, 129, 121);
    color: white;
}